@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@font-face {
  font-family: "Circe";
  src: url("/fonts/Circe-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/Circe-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/Circe-Bold.ttf") format("truetype");
  font-style: light;
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Circe', sans-serif;
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 120px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__footer {
  background: #fff;
  margin-top: 100px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header__logo {
    padding-left: 20px;
  }
}

.header__left {
  text-transform: uppercase;
  text-align: center;
}

.header__img {
  height: 58px;
}

.header__name {
  font-size: 13px;
  font-weight: bold;
}

.header__right {
  width: 315px;
  line-height: 25px;
  margin-left: 60px;
  font-size: 16px;
  font-weight: bold;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__info {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .header__info {
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  .header__info {
    display: none;
  }
}

.header__contact {
  margin-right: 13px;
}

.header__phone-number {
  font-size: 26px;
}

.header__phone-number span {
  color: #dc1344;
}

.header__email {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.button {
  width: 192px;
  height: 60px;
  background: #dc1344;
  color: #fff;
  border: none;
  border-radius: 40px;
}

.button--rectangle {
  width: 212px;
  height: 56px;
  border-radius: 5px;
}

.button--text-small {
  font-size: 18px;
}

@media (max-width: 768px) {
  .button--disabled {
    display: none;
  }
}

i.fas {
  color: #bfbfbf;
  margin: 20px 0 0 16px;
  position: absolute;
  z-index: 1;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 750px) {
  .menu__list {
    display: none;
  }
}

.menu__list__show {
  text-align: left;
  position: fixed;
  margin: 180px 0 0 0;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 50px;
  z-index: 25;
  font-weight: 700;
  background-color: white;
  display: block;
}

@media screen and (min-width: 750px) {
  .menu__list__show {
    display: none;
  }
}

.menu__item {
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .menu__item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1029px) {
  .menu__item {
    margin: 10px 10px 0px 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__link {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 17px;
  text-decoration: none;
}

.menu__link:hover {
  border-bottom: 3px solid #dc1344;
}

@media screen and (max-width: 1029px) {
  .menu__link {
    line-height: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__toggle {
  width: 100%;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  background: url(/img/icons8-menu.png) right no-repeat;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 750px) {
  .menu__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__toggle-active {
  background: url(/img/icons8-delete.png) right no-repeat;
  z-index: 26;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 750px) {
  .menu__toggle-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner {
  height: 492px;
  background-size: cover;
  background-position: center;
}

.banner__background {
  background: #29282da4;
  height: 100%;
}

.banner__title {
  font-size: 50px;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 40px;
    padding: 110px 30px 0 30px;
  }
}

.banner__subtitle {
  font-size: 25px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .banner__subtitle {
    font-size: 20px;
    padding: 0 30px 0 30px;
  }
}

.form {
  height: 173px;
  background: #ffe01d;
  margin-top: 80px;
  position: relative;
  text-align: center;
}

.form__title {
  font-size: 25px;
  text-align: center;
  padding: 32px;
}

.form__location, .form__city, .form__phone {
  width: 280px;
  height: 56px;
  font-size: 16px;
  padding-left: 40px;
  position: relative;
}

@media (max-width: 768px) {
  .form__phone {
    margin-top: 10px;
  }
}

@media (max-width: 1077px) {
  .form {
    margin-bottom: 30px;
    height: 100%;
  }
  .form--bottom {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .form {
    width: 100%;
  }
}

.cargo {
  background: #f6f6f6;
}

.cargo__title {
  padding-top: 95px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.cargo__grid-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

.cargo__grid-box {
  width: 25%;
  padding: 0 25px 52px 25px;
  text-align: center;
}

@media (max-width: 992px) {
  .cargo__grid-box {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .cargo__grid-box {
    width: 50%;
    padding: 0 80px 0 100px;
  }
}

@media (max-width: 576px) {
  .cargo__grid-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cargo__grid-title {
  font-size: 22px;
}

.cargo__grid-description {
  font-size: 16px;
  color: #737373;
}

.types-of-trucks__title {
  padding: 53px 0 40px 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.types-of-trucks__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.types-of-trucks__box {
  width: 23%;
  height: 460px;
  background: #f4f6f6;
  margin: 0 19px 27px 0;
  position: relative;
}

@media (max-width: 992px) {
  .types-of-trucks__box {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .types-of-trucks__box {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .types-of-trucks__box {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .types-of-trucks__box {
    width: 100%;
  }
}

.types-of-trucks__box-img1 {
  padding: 35px 22px 28px 22px;
}

.types-of-trucks__box-img2 {
  padding: 17px 21px 2px 0;
}

.types-of-trucks__box-img3 {
  padding: 20px 0 8px 23px;
}

.types-of-trucks__box-img4 {
  padding: 33px 0 0 20px;
}

.types-of-trucks__box-img5 {
  padding: 10px 0 0 10px;
}

.types-of-trucks__box-img6 {
  padding: 15px 0 4px 0;
}

.types-of-trucks__box-img7 {
  padding: 24px 0 11px 0;
}

.types-of-trucks__box-img8 {
  padding: 12px 0 0 67px;
}

@media (max-width: 576px) {
  .types-of-trucks__box--size {
    width: 100%;
  }
}

.types-of-trucks__box-title {
  background: #ffe01d;
  font-size: 20px;
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 22px 0;
}

.types-of-trucks__box-text {
  width: 205px;
  font-size: 16px;
  text-align: center;
  margin: 22px auto;
}

.types-of-trucks__box-price {
  width: 212px;
  height: 58px;
  border: 2px solid #dc1344;
  background: #f4f6f6;
  border-radius: 4px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  margin-bottom: 25px;
}

.types-of-trucks__other-types {
  text-align: center;
  font-size: 18px;
  padding: 0 0 60px 0;
}

.form-trucks {
  height: 288px;
  background-size: cover;
  background-position: right 35% bottom 40%;
  margin-bottom: 130px;
}

.form-trucks__background {
  background: #29282da4;
  height: 100%;
}

.form-trucks__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  padding: 57px 0 20px 0;
  text-align: center;
}

.form-trucks__subtitle {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}

.form-trucks__distance {
  margin-top: 55px;
}

.form-trucks__footer {
  margin-bottom: 85px;
}

.stages-of-work__title {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 43px;
}

.stages-of-work__circlesbox {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #dc1344;
  height: 1.8em;
  margin: 0 0 53px 83px;
}

@media screen and (max-width: 1200px) {
  .stages-of-work__circlesbox {
    width: 85%;
  }
}

.stages-of-work__circle {
  display: inline-block;
  width: 55px;
  height: 55px;
  font-size: 28px;
  padding: 10px 19px;
  background: #dc1344;
  color: #fff;
  text-align: center;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0 0 0 0.4rem #fff;
          box-shadow: 0 0 0 0.4rem #fff;
}

.stages-of-work__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .stages-of-work__texts {
    padding: 0 40px 0 30px;
  }
}

.stages-of-work__text {
  width: 200px;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .stages-of-work__text {
    width: 150px;
    line-height: 22px;
  }
}

.thanks {
  height: 530px;
}

@media (max-width: 496px) {
  .thanks {
    width: 50%;
  }
}

.thanks__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding: 57px 0 38px 0;
  margin: 0;
}

.thanks__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.thanks__feedback-slider {
  width: 245px;
  height: 333px;
}

.thanks__img {
  width: 245px;
  height: 333px;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 100;
  font-size: 0;
  width: 57px;
  height: 57px;
}

.slick-arrow.slick-prev {
  left: -30px;
  background: url("/img/arrow-left.png") center no-repeat;
  border: none;
  border-radius: 50%;
  padding: 19px;
  background-color: #dc1344;
  z-index: 350;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.34);
}

.slick-arrow.slick-next {
  right: 15px;
  background: url("/img/arrow-right.png") center no-repeat;
  border: none;
  border-radius: 50%;
  padding: 19px;
  background-color: #dc1344;
  z-index: 350;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 1200px) {
  .slick-arrow.slick-next {
    right: -20px;
  }
}

.cooperation__title {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 56px;
}

.cooperation__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .cooperation__boxes {
    width: 700px;
    padding-left: 20px;
  }
}

.cooperation__box-img {
  margin-left: 30px;
  margin-bottom: 35px;
}
/*# sourceMappingURL=style.css.map */